body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #2c3e50;
}

.anio {
  margin-bottom: 40px;
}

.materias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.materia {
  background-color: #FFC5D3;
  color: #2c3e50;
  padding: 15px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 180px;
}

.materia:hover {
  background-color: #fcaec3;
}

.materia.tachado {
  background-color: #e1e1e1;
  color: #888;
  text-decoration: line-through;
}
